*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.card-cart-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.product-card{
    border: 2px solid rgb(128, 121, 121);
    border-radius: 8px;
    overflow: hidden;
}

.product-details{
    padding: 10px;
    text-align: center;
}

.product-details img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.product-card img{
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.loadmore-btn{
    margin-top: 20px;
    background-color: blue;
    height: 30px;
    padding: 0px 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 1px solid blue;
}

.btn1{
    height: 30px;
    padding: 0px 15px;
    border: 1px solid green;
    background-color: green;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}


.buttons-productlist{
    text-align: center;
}

.input1, .input2{
    height: 30px;
    padding: 0px 10px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid gray;
}

.input2{
    margin-right: 0px;
    margin-bottom: 5px;
    width: 100%;
}

.cart-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    list-style: none;
}
.cart-item img{
    width: 100%;
    height: 100px;
    object-fit: contain;
    justify-content: left;

}
.cart-item2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.cart-list{
    border: 1px solid black;
    padding: 0px;
}

.cart-item-quantity{
    margin: 5px;
}

.mb-10{
 margin-bottom: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    text-decoration: none;
    margin-left: 10px;
}